

.blogpostTitle {
  color: black;
  font-size: 60px;
  padding-bottom: 70px;
}

.blogpost {
  background-color: white;
  color: black;
  font-size: 17px;
  text-align: justify;
  padding-top: 90px;
  padding-bottom: 90px;

}

.sideBar {
  background-color: #393939;
}

.sideSpacer {
  height: 500px;
}

.sideButton {
  color: #f4f4f4;
  font-size: 40px;
}

.sideButton a {
  color:  #f4f4f4;
}
