.contactForm div input {
  width: 100%;
  height: 30px;
  background-color: #666464;
  color: #b1b1b1;
  border: 0px solid white;
  border-radius: 20px;
  padding: 5px;
}

.contactForm textarea {
  width: 100%;
  height: 150px;
  background-color: #666464;
  color: #b1b1b1;
  border: 0px solid white;
  border-radius: 20px;
  padding: 10px;
  resize: none;
}

.contactForm button {
  margin-top: 10px;
  border-radius: 20px;
}

.contactList {
  padding-bottom: 25px;
  font-size: 20px;
}

.contactList span {
  font-size: 24px;
}

.contactList label {
  font-weight: lighter;
}

.socialHolder a{
  color: inherit;
}

.socialTag {
  margin-left: 12px;
}

.socialTag a:visited{
  color: white;
}
