#main-content{
	color: #f4f4f4;
}

a{
	color: inherit;
}

a:hover {
	color:inherit;
}

.eventPanel{
	border: 1px solid black;
	transition: background-color 0.5s;
}

.eventPanelInactive {
	background-color: #666464;
}

.eventPanelActive {
	background-color: #f4f4f4;
	color:   #666464;
}

.eventPanel:hover{

 	/* background-color: #393939; */
 }

.eventHeader  {
	vertical-align: bottom;

}

.eventHeader:hover  {
	cursor: pointer;
}

.eventDate {
	border-right: 1px solid black;
	font-size: 20px;
	text-align: center;
}

.eventTitle{
	font-size:x-large;
	height: 100%;
	margin-top: 10px;
}

.eventNameInfo {
	padding: 5px;
}

.eventNameInfo span{
	font-size: 30px;
}

.label-with-icon label{
	margin-left: 10px;
}

.eventImage {
	width: 100%;
}

.eventDescription {
	text-align: justify;
	margin-top: 40px;
}
