.footer {
  text-align: center;
  background-color: #222;
  width: 100%;
  color: #a19e9b;
  padding-top: 5px;
}

.social-icon {
  margin: 5px 10px;
  display: inline-block;
}

.bottom-nav {
  display: block;
  margin: 10px 0;
}

.bottom-nav span {
  display: inline-block;
  margin: 0 20px;
  font-weight: bold;
}

.logos {
  display: block;
  margin: 10px 0 10px 20px;
}

.logos img {
  margin: 0 25px;
}

.logos:first-child {
  margin-right: 10px;
}

.copyright {
  margin: 0;
}
