html, body {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth; 
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #393939;
  color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 480px) {
    .home_main_panel {
    /*    margin-top: 130px; */
    }

    .bottom {
      position: static;
      bottom: -130px;
    }
}

@media screen and (min-width: 480px) {
    .bottom {
      position: absolute;
      bottom: 0px;
    }
}

@media screen and (min-width: 1000px) {
  .topSpacer {
    margin-top: 30px;
  }
}

a {
  outline: 0;
}

.rightPadding {
  margin-right: 80px;
}

.rightPadding li {
  margin-right: 20px;
}

.topSpacer {
  margin-top: 30px;
}

.navigationBar {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.4);
}

.fullScreen {
  width: 100vw;
  height: 100vh;
}

.testBordered {
  border: 1px daashed blue;
}

.somePadding {
  padding: 5px;
}


.bulletlessList {
  list-style-type: none;
  padding: 10px;
}
