		#main-content{
			margin: auto;
		    width: 55%;
		    padding: 8px;

		}

		span{
			padding-top:2px;
		}

		.event-title{
    		font-size:x-large;	
    	}

		a{
			padding-top:2px;
		}
		
		.upcoming-events,.past-events{
			border: 1px solid black;
			
		}

		.upcoming-events:hover,.past-events:hover{
		 	cursor: pointer;
		 	background-color: #f4f4f4;
		 }